/*----- COLORS -----*/

$brand-primary-berry: #e71356;
$brand-primary-grape: #5c00dc;
$brand-primary-pink: #ed1a5d;

$button-color-bg: #5c00dc;
$button-color-on-bg: #fff;

$complimentary-grape: #ab99ff;

$link: #5c00dc;

$neutral-black: #000;
$neutral-g3: #444444;
$neutral-g4: #767676;
$neutral-g5: #777777;
$neutral-g6: #f5f5f5;
$neutral-white: #fff;

$page-border: #cbc6de;
$page-surface: #fff;

$text-header: #222222;
$text-body: #393551;
